<a href="https://colab.research.google.com/github/Wareitar/pythonkurs_v25/blob/main/kode/Pythonkurs%20-%20Del%203%20-%20Python%20og%20Excel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Les inn en Excelfil v.h.a Python

Vi starter med å vise hvordan vi kan lese inn en tilfeldig Excelfil.

In [1]:
import pandas as pd
# Remember: 'conda install openpyxl' before importing xlsx

# Read all sheets into a dictionary, sheet_name=None results in all sheets being read.
all_sheets = pd.read_excel("KPI_tabell.xlsx", sheet_name=None)

In [2]:
print(type(all_sheets)) # Verify what datastructure we have.
print(all_sheets.keys()) # Let's get the name of the sheets.

<class 'dict'>
dict_keys(['Recent', 'History'])

In [3]:
for item in all_sheets.values(): # Let us inspect the results.
    print(type(item))
    print(item)
    print("---")

<class 'pandas.core.frame.DataFrame'>
                                           Unnamed: 0          Indeks  \
0                                                 NaN  September 2022
1                                     KPI Totalindeks           125.6
2                 Matvarer og alkoholfrie drikkevarer           119.7
3                Alkoholholdige drikkevarer og tobakk           116.9
4                                      Klær og skotøy           100.8
5                               Bolig, lys og brensel           134.7
6   Møbler, husholdningsartikler og vedlikehold av...           130.7
7                                          Helsepleie           118.2
8                                           Transport           128.6
9                              Post- og teletjenester           118.5
10                                   Kultur og fritid           127.2
11                                          Utdanning           130.6
12                     Hotell- og restauranttjenester           131.4
13                           Andre varer og tjenester           117.1
14                                                NaN             NaN
15                                KPI-JAE Totalindeks           120.2
16                                                NaN             NaN
17                          KPI etter leveringssektor             NaN
18                                              Varer             130
19                                          Tjenester           120.9
20              Tjenester hvor arbeidskraft dominerer             124

         Månedsendring (prosent)    12-måneders endring (prosent)
0   August 2022 - September 2022  September 2021 - September 2022
1                            1.4                              6.9
2                            0.2                             12.1
3                            0.7                                5
4                            6.2                              0.6
5                            2.2                              5.8
6                            4.1                              7.6
7                           -0.1                              2.8
8                            0.5                             11.3
9                            0.6                              1.1
10                             1                                5
11                             2                              2.3
12                           0.5                              8.7
13                           0.3                              2.1
14                           NaN                              NaN
15                             1                              5.3
16                           NaN                              NaN
17                           NaN                              NaN
18                           2.1                              9.1
19                           0.6                              4.4
20                           1.1                              3.3
---
<class 'pandas.core.frame.DataFrame'>
                                           Unnamed: 0 Årsgj.snitt2    Jan  \
0                                                2022            .  117.8
1                                                2021        116.1  114.1
2                                                2020        112.2  111.3
3                                                2019        110.8  109.3
4                                                2018        108.4  106.0
..                                                ...          ...    ...
91                                               1931          2.8    2.9
92                                               1930            3    3.0
93                                               1929          3.1    3.1
94  1Tidligere indekser er å finne i tabell 08184 ...          NaN    NaN
95              2Gjennomsnitt av alle månedsindeksene          NaN    NaN

      Feb    Mar    Apr    Mai    Jun    Jul    Aug    Sep    Okt    Nov  \
0   119.1  119.8  121.2  121.5  122.6  124.2  123.9  125.6      .      .
1   114.9  114.6  115.0  114.9  115.3  116.3  116.3  117.5  117.2  118.1
2   111.2  111.2  111.7  111.9  112.1  112.9  112.5  112.9  113.2  112.4
3   110.2  110.4  110.8  110.5  110.6  111.4  110.6  111.1  111.3  111.6
4   107.0  107.3  107.7  107.8  108.5  109.3  108.9  109.5  109.3  109.8
..    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
91    2.9    2.9    2.9    2.8    2.8    2.8    2.8    2.8    2.8    2.8
92    3.0    3.0    3.0    3.0    3.0    3.0    3.0    3.0    2.9    2.9
93    3.1    3.1    3.1    3.1    3.1    3.1    3.1    3.1    3.1    3.1
94    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
95    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

      Des
0       .
1   118.9
2   112.9
3   111.3
4   109.8
..    ...
91    2.8
92    2.9
93    3.1
94    NaN
95    NaN

[96 rows x 14 columns]
---

Vi ser at vi nå har lest inn en excelfil som har to ark i seg. Hvert av de to arkene er represent som en Pandas DataFrame, og er omkapslet av en Dictionary. La oss droppe den overordnede strukturen og få direkte tilgang til hvert av de to arkene.

In [4]:
df_current = all_sheets.get("Recent", "Not found")
df_history = all_sheets.get("History", "Not found")

In [5]:
df_current

,Unnamed: 0,Indeks,Månedsendring (prosent),12-måneders endring (prosent)
0,NaN,September 2022,August 2022 - September 2022,September 2021 - September 2022
1,KPI Totalindeks,125.6,1.4,6.9
2,Matvarer og alkoholfrie drikkevarer,119.7,0.2,12.1
3,Alkoholholdige drikkevarer og tobakk,116.9,0.7,5
4,Klær og skotøy,100.8,6.2,0.6
5,"Bolig, lys og brensel",134.7,2.2,5.8
6,"Møbler, husholdningsartikler og vedlikehold av...",130.7,4.1,7.6
7,Helsepleie,118.2,-0.1,2.8
8,Transport,128.6,0.5,11.3
9,Post- og teletjenester,118.5,0.6,1.1
10,Kultur og fritid,127.2,1,5
11,Utdanning,130.6,2,2.3
12,Hotell- og restauranttjenester,131.4,0.5,8.7
13,Andre varer og tjenester,117.1,0.3,2.1
14,NaN,NaN,NaN,NaN
15,KPI-JAE Totalindeks,120.2,1,5.3
16,NaN,NaN,NaN,NaN
17,KPI etter leveringssektor,NaN,NaN,NaN
18,Varer,130,2.1,9.1
19,Tjenester,120.9,0.6,4.4
20,Tjenester hvor arbeidskraft dominerer,124,1.1,3.3

In [6]:
df_history

,Unnamed: 0,Årsgj.snitt2,Jan,Feb,Mar,Apr,Mai,Jun,Jul,Aug,Sep,Okt,Nov,Des
0,2022,.,117.8,119.1,119.8,121.2,121.5,122.6,124.2,123.9,125.6,.,.,.
1,2021,116.1,114.1,114.9,114.6,115.0,114.9,115.3,116.3,116.3,117.5,117.2,118.1,118.9
2,2020,112.2,111.3,111.2,111.2,111.7,111.9,112.1,112.9,112.5,112.9,113.2,112.4,112.9
3,2019,110.8,109.3,110.2,110.4,110.8,110.5,110.6,111.4,110.6,111.1,111.3,111.6,111.3
4,2018,108.4,106.0,107.0,107.3,107.7,107.8,108.5,109.3,108.9,109.5,109.3,109.8,109.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,1931,2.8,2.9,2.9,2.9,2.9,2.8,2.8,2.8,2.8,2.8,2.8,2.8,2.8
92,1930,3,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,2.9,2.9,2.9
93,1929,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1
94,1Tidligere indekser er å finne i tabell 08184 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,2Gjennomsnitt av alle månedsindeksene,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df_history.rename(columns={"Unnamed: 0":"Årstall"}, inplace=True)

In [8]:
df_history

,Årstall,Årsgj.snitt2,Jan,Feb,Mar,Apr,Mai,Jun,Jul,Aug,Sep,Okt,Nov,Des
0,2022,.,117.8,119.1,119.8,121.2,121.5,122.6,124.2,123.9,125.6,.,.,.
1,2021,116.1,114.1,114.9,114.6,115.0,114.9,115.3,116.3,116.3,117.5,117.2,118.1,118.9
2,2020,112.2,111.3,111.2,111.2,111.7,111.9,112.1,112.9,112.5,112.9,113.2,112.4,112.9
3,2019,110.8,109.3,110.2,110.4,110.8,110.5,110.6,111.4,110.6,111.1,111.3,111.6,111.3
4,2018,108.4,106.0,107.0,107.3,107.7,107.8,108.5,109.3,108.9,109.5,109.3,109.8,109.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,1931,2.8,2.9,2.9,2.9,2.9,2.8,2.8,2.8,2.8,2.8,2.8,2.8,2.8
92,1930,3,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,2.9,2.9,2.9
93,1929,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1
94,1Tidligere indekser er å finne i tabell 08184 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,2Gjennomsnitt av alle månedsindeksene,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Siden dette er ferdigtygget materiale så finner vi et annet datasett som vi kan jobbe med.

# Enkel statistikk og pivot

In [9]:
%pip install opendatasets

Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl.metadata (9.2 kB)
Requirement already satisfied: tqdm in /usr/local/lib/python3.11/dist-packages (from opendatasets) (4.67.1)
Requirement already satisfied: kaggle in /usr/local/lib/python3.11/dist-packages (from opendatasets) (1.7.4.2)
Requirement already satisfied: click in /usr/local/lib/python3.11/dist-packages (from opendatasets) (8.1.8)
Requirement already satisfied: bleach in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (6.2.0)
Requirement already satisfied: certifi>=14.05.14 in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (2025.4.26)
Requirement already satisfied: charset-normalizer in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (3.4.1)
Requirement already satisfied: idna in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (3.10)
Requirement already satisfied: protobuf in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (5.29.4)
Requirement already satisfied: python-dateutil>=2.5.3 in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (2.9.0.post0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (8.0.4)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (2.32.3)
Requirement already satisfied: setuptools>=21.0.0 in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (75.2.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (1.17.0)
Requirement already satisfied: text-unidecode in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (1.3)
Requirement already satisfied: urllib3>=1.15.1 in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (2.4.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (0.5.1)
Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Installing collected packages: opendatasets
Successfully installed opendatasets-0.1.22

In [10]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

import opendatasets as od # % pip install opendatasets

od.download("https://www.kaggle.com/datasets/eringill/2023-american-vehicle-prices/metadata") # Prereq: Prepare your API-user/pw on kaggle.com

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: aleksanderstalsberg
Your Kaggle Key: ··········
Dataset URL: https://www.kaggle.com/datasets/eringill/2023-american-vehicle-prices

In [18]:
bilpriser = pd.read_csv('2023-american-vehicle-prices/prices_clean.csv')
bilpriser
print(type(bilpriser))

<class 'pandas.core.frame.DataFrame'>

In [12]:
bilpriser.groupby("make").price.min()

make
Acura            31300.000
Alfa Romeo       38000.000
Aston Martin    143900.000
Audi             37400.000
BMW              45550.000
Bentley          35750.000
Bugatti        2990000.000
Buick            21850.000
Cadillac         34390.000
Chevrolet        17195.000
Chrysler         29930.000
Dodge            29990.000
Ferrari         222620.000
Fiat             17500.000
Ford             27770.000
GMC              28400.000
Genesis          39400.000
Honda            14010.000
Hyundai           7300.000
Infiniti         40300.000
Jaguar           47000.000
Jeep             29990.000
KIA              14000.000
Lamborghini     230000.000
Land Rover       43300.000
Lexus            34770.000
Lincoln          38690.000
MINI             23400.000
Maserati         63500.000
Mazda            17750.000
Mclaren         223950.000
Mercedes         37500.000
Nissan           17700.000
Porsche          57500.000
Rolls Royce     341500.000
Subaru           13000.000
Tesla            39900.000
Toyota           13080.000
Volkswagen       20410.000
Volvo            41300.000
Name: price, dtype: float64

In [13]:
bilpriser.groupby("make").price.max()

make
Acura           170500.000
Alfa Romeo       87850.000
Aston Martin   3600000.000
Audi            225000.000
BMW             750000.000
Bentley        2155280.000
Bugatti        5000000.000
Buick            58100.000
Cadillac        152195.000
Chevrolet       114500.000
Chrysler         59990.000
Dodge            96660.000
Ferrari        2350000.000
Fiat             52500.000
Ford           1100000.000
GMC             186000.000
Genesis          98700.000
Honda            52030.000
Hyundai          64960.000
Infiniti         87450.000
Jaguar          111200.000
Jeep             98090.000
KIA              63000.000
Lamborghini    3900000.000
Land Rover      408680.000
Lexus           126290.000
Lincoln         112300.000
MINI             42500.000
Maserati        240000.000
Mazda            56950.000
Mclaren        1525100.000
Mercedes        294070.000
Nissan          229000.000
Porsche         232000.000
Rolls Royce     655000.000
Subaru           51990.000
Tesla           195200.000
Toyota          536530.000
Volkswagen       65000.000
Volvo           113940.000
Name: price, dtype: float64

In [14]:
bilpriser.groupby("make").price.mean()

make
Acura            53458.000
Alfa Romeo       52846.481
Aston Martin    775809.444
Audi             85834.815
BMW             136842.609
Bentley         386591.818
Bugatti        4023333.333
Buick            36452.419
Cadillac         68873.704
Chevrolet        49844.750
Chrysler         44824.815
Dodge            52648.438
Ferrari         620001.000
Fiat             32254.615
Ford             80101.395
GMC              63852.174
Genesis          62881.714
Honda            29285.588
Hyundai          30005.435
Infiniti         55759.459
Jaguar           74105.312
Jeep             55971.795
KIA              36406.607
Lamborghini     719892.600
Land Rover      158358.929
Lexus            54275.577
Lincoln          67705.286
MINI             31469.231
Maserati        116065.143
Mazda            33343.571
Mclaren         515548.750
Mercedes        107143.704
Nissan           49457.955
Porsche         129861.212
Rolls Royce     436520.833
Subaru           34639.348
Tesla            80349.062
Toyota           49957.375
Volkswagen       39988.667
Volvo            56582.000
Name: price, dtype: float64

In [15]:
bilpriser.groupby("make").describe()

               year                                                     \
              count     mean   std      min      25%      50%      75%
make
Acura        30.000 2023.000 0.000 2023.000 2023.000 2023.000 2023.000
Alfa Romeo   27.000 2023.000 0.000 2023.000 2023.000 2023.000 2023.000
Aston Martin 36.000 2023.000 0.000 2023.000 2023.000 2023.000 2023.000
Audi         27.000 2023.000 0.000 2023.000 2023.000 2023.000 2023.000
BMW          23.000 2023.000 0.000 2023.000 2023.000 2023.000 2023.000
Bentley      44.000 2023.000 0.000 2023.000 2023.000 2023.000 2023.000
Bugatti       6.000 2023.000 0.000 2023.000 2023.000 2023.000 2023.000
Buick        31.000 2023.000 0.000 2023.000 2023.000 2023.000 2023.000
Cadillac     27.000 2023.000 0.000 2023.000 2023.000 2023.000 2023.000
Chevrolet    20.000 2023.000 0.000 2023.000 2023.000 2023.000 2023.000
Chrysler     27.000 2023.000 0.000 2023.000 2023.000 2023.000 2023.000
Dodge        32.000 2023.000 0.000 2023.000 2023.000 2023.000 2023.000
Ferrari      20.000 2023.000 0.000 2023.000 2023.000 2023.000 2023.000
Fiat         13.000 2023.000 0.000 2023.000 2023.000 2023.000 2023.000
Ford         43.000 2023.000 0.000 2023.000 2023.000 2023.000 2023.000
GMC          23.000 2023.000 0.000 2023.000 2023.000 2023.000 2023.000
Genesis      35.000 2023.000 0.000 2023.000 2023.000 2023.000 2023.000
Honda        34.000 2023.000 0.000 2023.000 2023.000 2023.000 2023.000
Hyundai      46.000 2023.000 0.000 2023.000 2023.000 2023.000 2023.000
Infiniti     37.000 2023.000 0.000 2023.000 2023.000 2023.000 2023.000
Jaguar       32.000 2023.000 0.000 2023.000 2023.000 2023.000 2023.000
Jeep         39.000 2023.000 0.000 2023.000 2023.000 2023.000 2023.000
KIA          28.000 2023.000 0.000 2023.000 2023.000 2023.000 2023.000
Lamborghini  30.000 2023.000 0.000 2023.000 2023.000 2023.000 2023.000
Land Rover   28.000 2023.000 0.000 2023.000 2023.000 2023.000 2023.000
Lexus        26.000 2023.000 0.000 2023.000 2023.000 2023.000 2023.000
Lincoln      35.000 2023.000 0.000 2023.000 2023.000 2023.000 2023.000
MINI         26.000 2023.000 0.000 2023.000 2023.000 2023.000 2023.000
Maserati     35.000 2023.000 0.000 2023.000 2023.000 2023.000 2023.000
Mazda        28.000 2023.000 0.000 2023.000 2023.000 2023.000 2023.000
Mclaren      16.000 2023.000 0.000 2023.000 2023.000 2023.000 2023.000
Mercedes     27.000 2023.000 0.000 2023.000 2023.000 2023.000 2023.000
Nissan       44.000 2023.000 0.000 2023.000 2023.000 2023.000 2023.000
Porsche      33.000 2023.000 0.000 2023.000 2023.000 2023.000 2023.000
Rolls Royce  12.000 2023.000 0.000 2023.000 2023.000 2023.000 2023.000
Subaru       23.000 2023.000 0.000 2023.000 2023.000 2023.000 2023.000
Tesla        32.000 2023.000 0.000 2023.000 2023.000 2023.000 2023.000
Toyota       40.000 2023.000 0.000 2023.000 2023.000 2023.000 2023.000
Volkswagen   30.000 2023.000 0.000 2023.000 2023.000 2023.000 2023.000
Volvo        25.000 2023.000 0.000 2023.000 2023.000 2023.000 2023.000

                       price                                                  \
                  max  count        mean         std         min         25%
make
Acura        2023.000 30.000   53458.000   24699.242   31300.000   42837.500
Alfa Romeo   2023.000 27.000   52846.481   14073.325   38000.000   46145.000
Aston Martin 2023.000 36.000  775809.444 1082374.721  143900.000  189575.000
Audi         2023.000 27.000   85834.815   50559.061   37400.000   55400.000
BMW          2023.000 23.000  136842.609  156312.348   45550.000   58970.000
Bentley      2023.000 44.000  386591.818  459624.707   35750.000  226675.000
Bugatti      2023.000  6.000 4023333.333  825752.182 2990000.000 3512500.000
Buick        2023.000 31.000   36452.419   11054.588   21850.000   26655.000
Cadillac     2023.000 27.000   68873.704   29155.258   34390.000   47795.000
Chevrolet    2023.000 20.000   49844.750   29074.474   17195.000   32800.000
Chrysler     2023.000 27.000   44824.815    9160.426   29930.000   36515.000
Dodge        2023.000 32.000   52648.438   17968.269   29990.000   40552.500
Ferrari      2023.000 20.000  620001.000  525043.113  222620.000  358900.000
Fiat         2023.000 13.000   32254.615    8461.603   17500.000   28900.000
Ford         2023.000 43.000   80101.395  160711.050   27770.000   38420.000
GMC          2023.000 23.000   63852.174   35884.846   28400.000   42300.000
Genesis      2023.000 35.000   62881.714   15861.478   39400.000   50000.000
Honda        2023.000 34.000   29285.588   10313.296   14010.000   20255.000
Hyundai      2023.000 46.000   30005.435   16715.043    7300.000   15325.000
Infiniti     2023.000 37.000   55759.459   12879.942   40300.000   45750.000
Jaguar       2023.000 32.000   74105.312   15434.658   47000.000   64575.000
Jeep         2023.000 39.000   55971.795   17773.560   29990.000   39900.000
KIA          2023.000 28.000   36406.607   13826.395   14000.000   25222.500
Lamborghini  2023.000 30.000  719892.600  937408.250  230000.000  258667.500
Land Rover   2023.000 28.000  158358.929  120462.094   43300.000   68900.000
Lexus        2023.000 26.000   54275.577   24494.180   34770.000   41488.750
Lincoln      2023.000 35.000   67705.286   20878.225   38690.000   51060.000
MINI         2023.000 26.000   31469.231    5980.553   23400.000   27150.000
Maserati     2023.000 35.000  116065.143   46787.613   63500.000   83500.000
Mazda        2023.000 28.000   33343.571    8897.011   17750.000   28037.500
Mclaren      2023.000 16.000  515548.750  351866.061  223950.000  326500.000
Mercedes     2023.000 27.000  107143.704   67904.426   37500.000   58840.000
Nissan       2023.000 44.000   49457.955   33564.299   17700.000   34780.000
Porsche      2023.000 33.000  129861.212   50457.557   57500.000   95100.000
Rolls Royce  2023.000 12.000  436520.833  100653.947  341500.000  372500.000
Subaru       2023.000 23.000   34639.348    9288.713   13000.000   29042.500
Tesla        2023.000 32.000   80349.062   34679.135   39900.000   52740.000
Toyota       2023.000 40.000   49957.375   82807.321   13080.000   24222.500
Volkswagen   2023.000 30.000   39988.667   10761.537   20410.000   31767.500
Volvo        2023.000 25.000   56582.000   15588.739   41300.000   47950.000


                     50%         75%         max
make
Acura          50225.000   56250.000  170500.000
Alfa Romeo     47990.000   51150.000   87850.000
Aston Martin  298200.000  389725.000 3600000.000
Audi           73700.000   93900.000  225000.000
BMW            69420.000  158995.000  750000.000
Bentley       255390.000  302150.000 2155280.000
Bugatti      3875000.000 4725000.000 5000000.000
Buick          33400.000   44900.000   58100.000
Cadillac       60495.000   87940.000  152195.000
Chevrolet      39950.000   47150.000  114500.000
Chrysler       47850.000   51730.000   59990.000
Dodge          46865.000   67102.500   96660.000
Ferrari       415750.000  640500.000 2350000.000
Fiat           31950.000   36000.000   52500.000
Ford           54060.000   66432.500 1100000.000
GMC            51000.000   87025.000  186000.000
Genesis        60680.000   76825.000   98700.000
Honda          28115.000   37140.000   52030.000
Hyundai        28525.000   46062.500   64960.000
Infiniti       52300.000   59200.000   87450.000
Jaguar         73400.000   84175.000  111200.000
Jeep           54730.000   68835.000   98090.000
KIA            36295.000   49135.000   63000.000
Lamborghini   382834.000  546840.000 3900000.000
Land Rover    106450.000  198625.000  408680.000
Lexus          46420.000   58193.750  126290.000
Lincoln        69360.000   82050.000  112300.000
MINI           29950.000   35400.000   42500.000
Maserati      102500.000  130210.000  240000.000
Mazda          31375.000   35540.000   56950.000
Mclaren       409400.000  533167.500 1525100.000
Mercedes       85600.000  111525.000  294070.000
Nissan         43190.000   53815.000  229000.000
Porsche       109000.000  170000.000  232000.000
Rolls Royce   404000.000  466175.000  655000.000
Subaru         33490.000   42340.000   51990.000
Tesla          65445.000  105490.000  195200.000
Toyota         32385.000   45012.500  536530.000
Volkswagen     39315.000   47492.500   65000.000
Volvo          51250.000   57200.000  113940.000

En av funksjonene som brukes ofte i Excel er pivottabeller. Selv om vi på en måte har gjort det samme i eksemplene over ved hjelp av groupby() så har Pandas en egen pivot_table() metode vi kan se på og.

In [16]:
# Aggregate on "Symbol". The default aggregation function is 'mean'.
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot_table.html
pivot = pd.pivot_table(data=bilpriser, index='make', values=["price"])
pivot

                   price
make
Acura          53458.000
Alfa Romeo     52846.481
Aston Martin  775809.444
Audi           85834.815
BMW           136842.609
Bentley       386591.818
Bugatti      4023333.333
Buick          36452.419
Cadillac       68873.704
Chevrolet      49844.750
Chrysler       44824.815
Dodge          52648.438
Ferrari       620001.000
Fiat           32254.615
Ford           80101.395
GMC            63852.174
Genesis        62881.714
Honda          29285.588
Hyundai        30005.435
Infiniti       55759.459
Jaguar         74105.312
Jeep           55971.795
KIA            36406.607
Lamborghini   719892.600
Land Rover    158358.929
Lexus          54275.577
Lincoln        67705.286
MINI           31469.231
Maserati      116065.143
Mazda          33343.571
Mclaren       515548.750
Mercedes      107143.704
Nissan         49457.955
Porsche       129861.212
Rolls Royce   436520.833
Subaru         34639.348
Tesla          80349.062
Toyota         49957.375
Volkswagen     39988.667
Volvo          56582.000

In [17]:
# Aggreagate the sum instead of the default mean.
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot_table.html
pivot = pd.pivot_table(data=bilpriser, index='make', values=["price"], aggfunc='sum')
pivot

                    price
make
Acura         1603740.000
Alfa Romeo    1426855.000
Aston Martin 27929140.000
Audi          2317540.000
BMW           3147380.000
Bentley      17010040.000
Bugatti      24140000.000
Buick         1130025.000
Cadillac      1859590.000
Chevrolet      996895.000
Chrysler      1210270.000
Dodge         1684750.000
Ferrari      12400020.000
Fiat           419310.000
Ford          3444360.000
GMC           1468600.000
Genesis       2200860.000
Honda          995710.000
Hyundai       1380250.000
Infiniti      2063100.000
Jaguar        2371370.000
Jeep          2182900.000
KIA           1019385.000
Lamborghini  21596778.000
Land Rover    4434050.000
Lexus         1411165.000
Lincoln       2369685.000
MINI           818200.000
Maserati      4062280.000
Mazda          933620.000
Mclaren       8248780.000
Mercedes      2892880.000
Nissan        2176150.000
Porsche       4285420.000
Rolls Royce   5238250.000
Subaru         796705.000
Tesla         2571170.000
Toyota        1998295.000
Volkswagen    1199660.000
Volvo         1414550.000

In [19]:
# Use multiple aggregate functions.
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot_table.html
pivot = pd.pivot_table(data=bilpriser, index='make', values=["price"], aggfunc=['mean', 'sum'])
pivot

                    mean          sum
                   price        price
make
Acura          53458.000  1603740.000
Alfa Romeo     52846.481  1426855.000
Aston Martin  775809.444 27929140.000
Audi           85834.815  2317540.000
BMW           136842.609  3147380.000
Bentley       386591.818 17010040.000
Bugatti      4023333.333 24140000.000
Buick          36452.419  1130025.000
Cadillac       68873.704  1859590.000
Chevrolet      49844.750   996895.000
Chrysler       44824.815  1210270.000
Dodge          52648.438  1684750.000
Ferrari       620001.000 12400020.000
Fiat           32254.615   419310.000
Ford           80101.395  3444360.000
GMC            63852.174  1468600.000
Genesis        62881.714  2200860.000
Honda          29285.588   995710.000
Hyundai        30005.435  1380250.000
Infiniti       55759.459  2063100.000
Jaguar         74105.312  2371370.000
Jeep           55971.795  2182900.000
KIA            36406.607  1019385.000
Lamborghini   719892.600 21596778.000
Land Rover    158358.929  4434050.000
Lexus          54275.577  1411165.000
Lincoln        67705.286  2369685.000
MINI           31469.231   818200.000
Maserati      116065.143  4062280.000
Mazda          33343.571   933620.000
Mclaren       515548.750  8248780.000
Mercedes      107143.704  2892880.000
Nissan         49457.955  2176150.000
Porsche       129861.212  4285420.000
Rolls Royce   436520.833  5238250.000
Subaru         34639.348   796705.000
Tesla          80349.062  2571170.000
Toyota         49957.375  1998295.000
Volkswagen     39988.667  1199660.000
Volvo          56582.000  1414550.000

In [23]:
# Different aggregate functions for each column.
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot_table.html
pivot = pd.pivot_table(data=bilpriser, index='make', values=["price", "year"], aggfunc={"price": 'mean', "year": 'count'})
pivot

                   price  year
make
Acura          53458.000    30
Alfa Romeo     52846.481    27
Aston Martin  775809.444    36
Audi           85834.815    27
BMW           136842.609    23
Bentley       386591.818    44
Bugatti      4023333.333     6
Buick          36452.419    31
Cadillac       68873.704    27
Chevrolet      49844.750    20
Chrysler       44824.815    27
Dodge          52648.438    32
Ferrari       620001.000    20
Fiat           32254.615    13
Ford           80101.395    43
GMC            63852.174    23
Genesis        62881.714    35
Honda          29285.588    34
Hyundai        30005.435    46
Infiniti       55759.459    37
Jaguar         74105.312    32
Jeep           55971.795    39
KIA            36406.607    28
Lamborghini   719892.600    30
Land Rover    158358.929    28
Lexus          54275.577    26
Lincoln        67705.286    35
MINI           31469.231    26
Maserati      116065.143    35
Mazda          33343.571    28
Mclaren       515548.750    16
Mercedes      107143.704    27
Nissan         49457.955    44
Porsche       129861.212    33
Rolls Royce   436520.833    12
Subaru         34639.348    23
Tesla          80349.062    32
Toyota         49957.375    40
Volkswagen     39988.667    30
Volvo          56582.000    25

In [24]:
# Adding totals to our pivot.
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot_table.html
pivot = pd.pivot_table(data=bilpriser, index='make', values=["price", "year"], aggfunc={"price": 'mean', "year": 'count'}, margins=True)
pivot

                   price  year
make
Acura          53458.000    30
Alfa Romeo     52846.481    27
Aston Martin  775809.444    36
Audi           85834.815    27
BMW           136842.609    23
Bentley       386591.818    44
Bugatti      4023333.333     6
Buick          36452.419    31
Cadillac       68873.704    27
Chevrolet      49844.750    20
Chrysler       44824.815    27
Dodge          52648.438    32
Ferrari       620001.000    20
Fiat           32254.615    13
Ford           80101.395    43
GMC            63852.174    23
Genesis        62881.714    35
Honda          29285.588    34
Hyundai        30005.435    46
Infiniti       55759.459    37
Jaguar         74105.312    32
Jeep           55971.795    39
KIA            36406.607    28
Lamborghini   719892.600    30
Land Rover    158358.929    28
Lexus          54275.577    26
Lincoln        67705.286    35
MINI           31469.231    26
Maserati      116065.143    35
Mazda          33343.571    28
Mclaren       515548.750    16
Mercedes      107143.704    27
Nissan         49457.955    44
Porsche       129861.212    33
Rolls Royce   436520.833    12
Subaru         34639.348    23
Tesla          80349.062    32
Toyota         49957.375    40
Volkswagen     39988.667    30
Volvo          56582.000    25
All           154572.417  1170

In [25]:
# Sort our result by chaining the sort_values().
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot_table.html
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html
pivot = pd.pivot_table(data=bilpriser, index='make', values=["price", "year"], aggfunc={"price": 'mean', "year": 'count'}, margins=True).sort_values(by="year")
pivot

                   price  year
make
Bugatti      4023333.333     6
Rolls Royce   436520.833    12
Fiat           32254.615    13
Mclaren       515548.750    16
Ferrari       620001.000    20
Chevrolet      49844.750    20
BMW           136842.609    23
GMC            63852.174    23
Subaru         34639.348    23
Volvo          56582.000    25
MINI           31469.231    26
Lexus          54275.577    26
Mercedes      107143.704    27
Cadillac       68873.704    27
Alfa Romeo     52846.481    27
Audi           85834.815    27
Chrysler       44824.815    27
Land Rover    158358.929    28
Mazda          33343.571    28
KIA            36406.607    28
Volkswagen     39988.667    30
Acura          53458.000    30
Lamborghini   719892.600    30
Buick          36452.419    31
Jaguar         74105.312    32
Dodge          52648.438    32
Tesla          80349.062    32
Porsche       129861.212    33
Honda          29285.588    34
Genesis        62881.714    35
Maserati      116065.143    35
Lincoln        67705.286    35
Aston Martin  775809.444    36
Infiniti       55759.459    37
Jeep           55971.795    39
Toyota         49957.375    40
Ford           80101.395    43
Bentley       386591.818    44
Nissan         49457.955    44
Hyundai        30005.435    46
All           154572.417  1170

In [26]:
# This will fail in Google Colab due to lack of copy / paste mechanism.
pivot.to_clipboard(excel=True) # We can copy our dataframe to the clipboard!

PyperclipException:
    Pyperclip could not find a copy/paste mechanism for your system.
    For more information, please visit
    https://pyperclip.readthedocs.io/en/latest/index.html#not-implemented-error

# Skrive til en Excelfil v.h.a Python

Vi har lest inn en fil, sett litt på innholdet og nå gjenstår det kun å skrive innhold tilbake til filen.

In [27]:
bilpriser.to_excel("Pythonkurs - Del 3 - Python og excel.xlsx", sheet_name='Bilpriser')

Oops. Grunnet en begrensning i Excel får vi ikke skrevet ut alle dataene våre til Excel format: [https://support.microsoft.com/en-us/office/excel-specifications-and-limits-1672b34d-7043-467e-8e27-269d656771c3](https://support.microsoft.com/en-us/office/excel-specifications-and-limits-1672b34d-7043-467e-8e27-269d656771c3)

La oss prøve å skrive deler av dataene våre.

In [ ]:
# Write our pivots to Excel.
original_pivot = pivot.copy(deep=True)
pivot.to_excel("Pythonkurs - Del 3 - Python og excel.xlsx", sheet_name='Bilpriser pivot')

In [28]:
# Write all stockdata to a format without limitations.
bilpriser.to_csv("Pythonkurs - Del 3 - Python og excel.csv")

In [31]:
# Add a new column with new data.
pivot["Mine prisforventninger 2025"] = ((5 * pivot["price"])/100) + pivot["price"]
pivot

,price,year,Mine prisforventninger 2024,Mine prisforventninger 2025
make,,,,
Bugatti,4023333.333,6,4224500.000,4224500.000
Rolls Royce,436520.833,12,458346.875,458346.875
Fiat,32254.615,13,33867.346,33867.346
Mclaren,515548.750,16,541326.188,541326.188
Ferrari,620001.000,20,651001.050,651001.050
Chevrolet,49844.750,20,52336.988,52336.988
BMW,136842.609,23,143684.739,143684.739
GMC,63852.174,23,67044.783,67044.783
Subaru,34639.348,23,36371.315,36371.315
Volvo,56582.000,25,59411.100,59411.100
MINI,31469.231,26,33042.692,33042.692
Lexus,54275.577,26,56989.356,56989.356
Mercedes,107143.704,27,112500.889,112500.889
Cadillac,68873.704,27,72317.389,72317.389
Alfa Romeo,52846.481,27,55488.806,55488.806
Audi,85834.815,27,90126.556,90126.556
Chrysler,44824.815,27,47066.056,47066.056
Land Rover,158358.929,28,166276.875,166276.875
Mazda,33343.571,28,35010.750,35010.750
KIA,36406.607,28,38226.938,38226.938
Volkswagen,39988.667,30,41988.100,41988.100
Acura,53458.000,30,56130.900,56130.900
Lamborghini,719892.600,30,755887.230,755887.230
Buick,36452.419,31,38275.040,38275.040
Jaguar,74105.312,32,77810.578,77810.578
Dodge,52648.438,32,55280.859,55280.859
Tesla,80349.062,32,84366.516,84366.516
Porsche,129861.212,33,136354.273,136354.273
Honda,29285.588,34,30749.868,30749.868
Genesis,62881.714,35,66025.800,66025.800
Maserati,116065.143,35,121868.400,121868.400
Lincoln,67705.286,35,71090.550,71090.550
Aston Martin,775809.444,36,814599.917,814599.917
Infiniti,55759.459,37,58547.432,58547.432
Jeep,55971.795,39,58770.385,58770.385
Toyota,49957.375,40,52455.244,52455.244
Ford,80101.395,43,84106.465,84106.465
Bentley,386591.818,44,405921.409,405921.409
Nissan,49457.955,44,51930.852,51930.852
Hyundai,30005.435,46,31505.707,31505.707
All,154572.417,1170,162301.038,162301.038

In [32]:
# Write our updated DataFrame to Excel, we want it as a new Sheet.
pivot.to_excel("Pythonkurs - Del 3 - Python og excel.xlsx", sheet_name='Bilpriser pivot forventninger')

Vi ser at vi ikke har fått et nytt faneark, men overskrevet det eksisterende. For å få lagt til et nytt faneark må vi trikse litt.

In [ ]:
with pd.ExcelWriter("Pythonkurs - Del 3 - Python og excel.xlsx") as writer:
    original_pivot.to_excel(writer, sheet_name='Bilpriser pivot')
    pivot.to_excel(writer, sheet_name='Bilpriser pivot forventninger')

In [41]:
import random

ant_kast = input("Hvor mange ganger vil du kaste terningen? ")
try:
    ant_kast = int(ant_kast)
except ValueError:
    print("Ugyldig input. Vennligst skriv inn et heltall.")
    exit()
if ant_kast <= 0:
    print("Antall kast må være større enn 0.")
    exit()

terning = random.randint(1, 6)
count = 0
res = []
while count < ant_kast:
    terning = random.randint(1, 6)
    res.append(terning)
    count += 1
six_count = res.count(6)
percentage = (six_count / ant_kast) * 100

print("Antall sekserer:", six_count)
print("Prosentandel sekserer:", percentage, "%")

import pandas as pd

# Assuming 'res' contains the results of the dice throws
df = pd.DataFrame({'Kastnummer': range(1, len(res) + 1), 'Resultat': res})
result_counts = df.groupby('Resultat')['Kastnummer'].count().reset_index()
result_counts.rename(columns={'Kastnummer': 'Antall'}, inplace=True)

#print(result_counts)

pivot_table = pd.pivot_table(data=result_counts, index='Resultat', values='Antall', aggfunc='sum')
print(pivot_table)

# Or, save to a CSV file:
#result_counts.to_csv('terning_resultater.csv', index=False)

# Calculate and add the percentage column
result_counts['Prosent'] = (result_counts['Antall'] / result_counts['Antall'].sum()) * 100

with pd.ExcelWriter("terningkast_data.xlsx") as writer:
    df.to_excel(writer, sheet_name='Logg', index=False)  # Log of throws
    result_counts.to_excel(writer, sheet_name='Oppsummering', index=False)  # Summary

Hvor mange ganger vil du kaste terningen? 500
Antall sekserer: 91
Prosentandel sekserer: 18.2 %
          Antall
Resultat
1             84
2             71
3             97
4             70
5             87
6             91

Da har vi sett på hvordan vi kan lese, manipulere og skrive Excelfiler v.h.a Python.

## Oppgave

Fortsett med programmet fra tidligere. Vi skal nå opprette to nye faner i et Excel ark.
- Den ene fanen inneholder selve datasettet vårt. Kastnummer og resultat.
- Den andre fanen inneholder deskriptiv statistikk om datasettet vårt.

NB! Det vil være enklest om du oppretter en Pandas DataFrame basert på datasettet vårt først.